# =========================
# macOS system files
# =========================

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.Trashes/*
.AppleDouble
.LSOverride

# =========================
# macOS Finder metadata
# =========================

Icon?
Thumbs.db

# =========================
# Volume root files
# =========================

.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# =========================
# Network & external drives
# =========================

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items